<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumauto.keepalive">

    <application>
        <service
            android:name="com.sumauto.keepalive.deamon.Daemon1"
            android:exported="true"
            android:process=":sumauto1" />
    </application>

</manifest>